body{

    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'DosStory';
    flex-direction: column;
    flex-direction: column;
    height: 100vh;

}

@font-face {
    font-family: 'DosStory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

header {
    display: flex;
    padding: 16px;
   /*  background-color: yellow;
    color: black; */
    justify-content: flex-end;
}

main {
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer {
    display: flex;
    padding: 16px;
    /*.menu-item: black;
    color: white; */
}

.title {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

.select{
    background-color: black;
    color: white;
}

.hide{
    display: none;
}