body{

    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: 'DosStory';
    flex-direction: column;
    flex-direction: column;
    height: 100vh;

}

@font-face {
    font-family: 'DosStory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DosGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

header {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    font-size: 30px;
}

main {
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DosGothic';

}

footer {
    display: flex;
    padding: 16px;
    font-size: 30px;
}

.title {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

.hide{
    display: none;
}

.option-item, .char-item{
    font-size: 30px;
}

.start-item, .font{
    font-size: 40px;
}

/* 테마*/
.select{
    font-size: 55px;
}

.theme0{
   background-color: white;
    color: black;
}

.theme1{
     background-color: black;
    color: white;
}

.theme2{
    background-color: aliceblue;
    color:cadetblue;
}



.container{
    display: flex;
    grid-template-columns: 1.2fr 0.9fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:rgb(250, 250, 250);
    border-radius: 8px;
}

.container2{
    display: flex;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: black;
}
.container3{
    display: flex;
    grid-template-columns: 1fr 0.8fr;
    width: 70%;
    height: 30%;

}


.profile-info{
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    font-size: 30px;
}



.profile-stats, p {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-size: 30px;
}

.profile-stats2 {
    display: flex;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: flex;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.button2 {
    display: flex;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    width:70%;
    height: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin: 8px;
    font-size: 28px;
}

.dice {
    display: flex;
    align-content: flex-end;
    margin-bottom: 0px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}