body{
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'DosStory';

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

@font-face {
    font-family: 'DosStory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.big-text {
    font-size: 64px;
}

.mid-text {
    font-size: 32px;
}

.small-text{
    font-size: 15px
}

.frame{
    margin: 30px;
}


.frame2 {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: flex-end;       /* 아래쪽 정렬 */
}

.frame3 {
    display: flex;
    justify-content: flex-end;   /* 오른쪽 정렬 */
    align-items: flex-start;     /* 위쪽 정렬 */
}