body{
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'DosStory';

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

@font-face {
    font-family: 'DosStory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.big-text {
    font-size: 64px;
}

.mid-text {
    font-size: 32px;
}

.small-text{
    font-size: 25px
}

.frame{
    margin: 30px;
}


.frame2 {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: flex-end;
    justify-content: flex-start;
}

.frame3 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-start;
    justify-content: flex-end;
}